<h1 class="font-bold text-4xl">Les catégories</h1>
  <table>
  <thead class="table">
  
  </thead>
  <tr>
    <td>ID</td>
    <td>Nom</td>
    <td>Actions</td>
  </tr>
  <tbody>
  <% @categories.each do |category|%>
  <tr>
  <td><%= category.id%></td>
 <td><%= category.name%></td>

 <a href="<%= edit_category_path(category.id)%>">Editer</a>
  </tr>
  
  <%end%>
    </tbody>
  </table>

 <a href="<%= new_category_path%>">Ajouter une nouvelle categorie</a>
 
